<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<style>
    fieldset{
        width: fit-content;
        margin: auto;
        margin-top: 50px ;
        height: fit-content;
    }
    p{
        margin-bottom: 30px;
    }
    body {
        background-image: url("/image/Savin-NY-Website-Background-Web.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<h2  th:if="${msg}" style="color:red;" th:text="${msg}"></h2>
<fieldset style="width: fit-content;height: fit-content">
    <legend style="text-shadow: 2px 2px 6px crimson"><h2 style="color: crimson">Update Product Entry</h2></legend>
    <form th:object="${product}" method="post" th:action="@{/editProduct}">
        <input hidden th:field="*{id}">
        <p>Code:&nbsp;<input th:field="*{code}">
            <br>
            <a th:if="${#fields.hasErrors('code')}" th:error="*{code}"></a></p>
        <p>Name:&nbsp;<input th:field="*{name}"><br>
            <a th:if="${#fields.hasErrors('name')}" th:error="*{name}"></a>
        </p>
        <p>Create Date:<input readonly type="date" th:field="*{createDate}"></p>
        <p>Description:&nbsp;<textarea th:field="*{description}"></textarea></p>
        <p>Price:&nbsp;<input th:field="*{price}">
            <br>
            <a th:if="${#fields.hasErrors('price')}" th:error="*{price}"></a></p>
        <p>Quantity:&nbsp;<input th:field="*{quantity}">
            <br>
            <a th:if="${#fields.hasErrors('quantity')}" th:error="*{quantity}"></a></p>
        <p>Category:&nbsp;
            <select th:field="*{category}">
                <option th:each="c:${categories}" th:text="${c.getName()}" th:value="${c.getId()}" th:selected="(${c.getId()} == ${product.getCategory().getId()})"></option>
            </select>
        <p><button type="submit" onclick="return confirm('Are You Sure?')">Update</button> </p>
    </form>
    <p><a th:href="@{/}"><button type="button">Back</button></a></p>
</fieldset>
</body>
</html>